html,
body {
  margin: 0;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(33, 33, 33);
  color: aliceblue;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rps-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border-radius: 30px;
  border: 5px solid rgb(66, 113, 224);
}
img {
  border-radius: 20px;
}
#score-board {
  display: flex;
  gap: 30px;
}

#computer-score-container,
#user-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  border: 5px solid rgb(66, 113, 224);
  padding: 10px;
  width: 100px;
}

.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

button {
  transition: all 0.07s ease-in-out;
}
button:hover {
  transform: scale(1.1);
  border: 10px solid gold;
}

#round-result {
  font-size: 30px;
}

button#new-game {
  height: auto;
  width: auto;
  padding: 5px 20px;
  margin-top: 10px;
}
